@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@import 'partials/vars';
@import 'partials/helpers';

body{
    background-color: $bg-color;
}


#morpion{
    margin-top: 50px;
    text-align: center;
    .title{
        @include font('Quicksand', $primaryFontSize);
        text-transform: uppercase;
    }
    .turn, .sentence{
        @include font('Quicksand', $secondaryFontSize);
        margin-bottom: 30px;
    }
    .win-message{
        @include font('Quicksand', $mediumFontSize);
        color: rgb(68, 114, 16);
    }
    .border-table{
        @include dim(5px, 15px, auto, 450px, 425px);
        background-color: white;
        box-shadow: 0px 15px 55px -6px $shadow-color-border-table;
        table {
            border-collapse: collapse;
            margin: 30px;
            tr, td{
                @include font('Bowlby One SC', 80px);
                width: 130px;
                height: 130px;
                cursor: pointer;
                line-height: 0;
                color: black;
            }
            td:not(.playerX):not(.playerO):hover{
                background-color: rgba(34, 34, 34, 0.1);
            }
            td[class^="player"]:hover{
                background-color: rgb(252, 193, 193);
            }
            @each $element, $position, $direction in ($tableBox) {
                #{$element}:not(:#{$position}-child){
                    border-#{$direction}: 2.5px solid $shadow-color-border-table;
                }
            } 
        }
    }
    @include responsive(525px, 300px, 425px);
}


@each $name, $primary-color, $secondary-color in $items {
    .player#{$name} span, .choice .#{$name}, .item-#{$name}{
        @include linearGradientItems($primary-color, $secondary-color);
    }
}


.choice{
    @include font('Quicksand', 35px);
    button{
        line-height: 0;
        @include font('Bowlby One SC', 150px);
        @include dim(0.4rem, 50%, 40px, 300px, 300px);
        transition: ease-in 0.2s;
        @each $name, $color in ("O" : $secondly-color-third, "X" : $primary-color-third) {
            &.#{$name}:hover{
                border-color:  $color;
                @extend %buttonHover;
            }
        }        
    }
}




